

#container{
	margin:10px auto;
}

.register{
	background:darkslateblue;
	color:white;
	font-size:30px;
	text-decoration:none;
	text-transform:uppercase;
	padding:10px 19px;
	margin-left:10px;;
}

body{	background:url(DSC_0171.JPG)no-repeat top center 100%;
	font-size:14px;
}
p{
	font-family:'Raleway', sans-serif;
	font-size:100%;
}
div{
	font-family:'Raleway', sans-serif;
	font-size:100%;
}

#header {
	padding:10px 
	color:white;
	text-align:center;
	background-color:rgb(150,0,250);
	height:90px;
	border-radius:0px;
	font-size:200%;
       
#sidebar{
	background-color:(210,210,210);
	margin:10px;
	width:100px;
	border-radius:5px;
	padding:20px;
}
.content{
	padding:20px;
	text-align:middle;
	color:black;
	border-radius:5px;
	margin:10px;
	border-radius:5px;
	font-size:100%;
	width:950px;

}
	

}
			<div id="sidebar">
				
				<h4>August 22nd-26th</h4>
				<h4>9:00-12:00</h4>
				<h4>Grades: 1-8</h4>
				<h4>$55 per camper</h4>
				Family rate:<br>$45 per camper<br>
				
				
			</div>
