

#container{
	margin:10px auto;
}

#header {
	width:100%;
	background:darkslateblue;
	padding:5px 0;
	color:white;
	text-align:center;
}

#header h1 {
        font-weight:normal;
        font-size:30px;
}


#content{
	clear:left;
	padding:20px;
	float:left;
	background:white;
	color:black;
	margin-top:7px;
	margin-bottom:20px;
	border-radius:5px;

}

#content img {
	width:489px;
	height:auto;
	margin-bottom:20px;
}

#content img:not(:first-child) {
	margin-top:30px;
	margin-bottom:0;
}

.register{
	background:darkslateblue;
	color:white;
	font-size:16px;
	text-decoration:none;
	text-transform:uppercase;
	padding:10px 25px;
	margin-left:10px;
}

#sidebar {
	float:right;
	width:200px;
	background:darkslateblue;
	color:white;
	margin-top:7px;
	padding:0 25px 16px 19px;
}

