

#container{
	margin:10px auto;
}

#header {
	padding:5px 0;
	color:white;
	text-align:center;
	background-color:(210,210,210);
	margin:10px;
	height:90px;
	border-radius:5px;
	font-size:200%;
}

#header h1 {
        font-weight:normal;
        font-size:30px;
}


#content{
	padding:20px;
	text-align:left;
	background:rgb(211,211,211);
	color:black;
	border-radius:5px;
	margin:10px;
	border-radius:5px;
	font-size:100%;


}

#content img {
	width:489px;
	height:auto;
	margin-bottom:20px;
	background-color:rgb(150,0,250);
}


}

.register{
	background:darkslateblue;
	color:white;
	font-size:16px;
	text-decoration:none;
	text-transform:uppercase;
	padding:10px 25px;
	margin-left:10px;
}

#sidebar {
	float:right;
	background:darkslateblue;
	color:white;
	margin:10px;
	float:right;
	width:200px;
	

}
			<div id="sidebar">
				
				<h4>August 22nd-26th</h4>
				<h4>9:00-12:00</h4>
				<h4>Grades: 1-8</h4>
				<h4>$55 per camper</h4>
				Family rate:<br>$45 per camper<br>
				
				
			</div>
