

#container{
	margin:10px auto;
}

#header {
	padding:5px 0;
	color:white;
	text-align:center;
	background-color:darkslateblue;
	margin:10px;
	height:90px;
	border-radius:5px;
	font-size:300%;
}

#header h1 {
        font-weight:normal;
        font-size:30px;
}


#content{
	padding:20px;
	text-align:left;
	background:rgb(211,211,211);
	color:black;
	border-radius:5px;
	margin:10px;
	border-radius:5px;
	font-size:100%;


}

#content img {
	width:489px;
	height:auto;
	margin-bottom:20px;
	background-color:rgb(150,0,250);
}


}

.register{
	background:darkslateblue;
	color:white;
	font-size:16px;
	text-decoration:none;
	text-transform:uppercase;
	padding:10px 25px;
	margin-left:10px;
}

#sidebar {
	float:right;
	background:darkslateblue;
	color:white;
	margin:10px;
	float:right;
	width:200px;
	border-radius:5px;
	padding:20px;
	

