

#container{
	margin:10px auto;
}

.register{
	background:darkslateblue;
	color:white;
	font-size:30px;
	text-decoration:none;
	text-transform:uppercase;
	padding:10px 19px;
	margin-left:10px;;

#header{
	height:100px;
	background-color:purple;
	
}
