<link href='https://fonts.googleapis.com/css?family=Raleway:700' rel='stylesheet' type='text/css'>

#container{
	margin:10px auto;
}

#header {
	padding:5px 0;
	color:white;
	text-align:center;
	background-color:darkslateblue;
	margin:0px;
	height:120px;
	border-radius:5px;
	font-family:'raleway', serif;
}

#header h1 {
        font-weight:bold;
        font-size:60px;
}


#content{
	padding:20px;
	text-align:left;
	background:rgb(211,211,211);
	color:black;
	border-radius:5px;
	margin:10px;
	border-radius:5px;
	font-size:100%;
	font-family:'raleway', serif;


}

#content img {
	width:489px;
	height:auto;
	margin-bottom:20px;
	background-color:rgb(150,0,250);
	font-family:'raleway', serif;
}


}

.register{
	background:darkslateblue;
	color:white;
	font-size:16px;
	text-decoration:none;
	text-transform:uppercase;
	padding:10px 25px;
	margin-left:10px;
	font-family:'raleway', serif;
}

#sidebar {
	float:right;
	background:darkslateblue;
	color:white;
	margin:10px;
	float:right;
	width:200px;
	border-radius:5px;
	padding:20px;
	font-family:'raleway', serif;
	

